function Main.main 1
// <do>
push constant 8001
push constant 16
push constant 1
neg
call Main.fillMemory 3
pop temp 0
// </do>
// <let>
push constant 8000
call Memory.peek 1
pop local 0
// </let>
// <do>
push local 0
call Main.convert 1
pop temp 0
// </do>
// <return>
push constant 0
return
// </return>
function Main.convert 3
// <let>
push constant 1
neg
pop local 2
// </let>
// <while>
label L0
push local 2
not
if-goto L1
// <let>
push local 1
push constant 1
add
pop local 1
// </let>
// <let>
push local 0
call Main.nextMask 1
pop local 0
// </let>
// <if>
push local 1
push constant 16
gt
not
not
if-goto L2
// <if>
push argument 0
push local 0
and
push constant 0
eq
not
not
if-goto L4
// <do>
push constant 8000
push local 1
add
push constant 1
call Memory.poke 2
pop temp 0
// </do>
goto L5
label L4
// <do>
push constant 8000
push local 1
add
push constant 0
call Memory.poke 2
pop temp 0
// </do>
label L5
// </if>
goto L3
label L2
// <let>
push constant 0
pop local 2
// </let>
label L3
// </if>
goto L0
label L1
// </while>
// <return>
push constant 0
return
// </return>
function Main.nextMask 0
// <if>
push argument 0
push constant 0
eq
not
if-goto L6
// <return>
push constant 1
return
// </return>
goto L7
label L6
// <return>
push argument 0
push constant 2
call Math.multiply 2
return
// </return>
label L7
// </if>
function Main.fillMemory 0
// <while>
label L8
push argument 1
push constant 0
gt
not
if-goto L9
// <do>
push argument 0
push argument 2
call Memory.poke 2
pop temp 0
// </do>
// <let>
push argument 1
push constant 1
sub
pop argument 1
// </let>
// <let>
push argument 0
push constant 1
add
pop argument 0
// </let>
goto L8
label L9
// </while>
// <return>
push constant 0
return
// </return>
